.cards {
  width: 100%;
  margin: 100px 0;
}

.cards .cards__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .cards__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 77px;
  /* identical to box height, or 214% */
  text-align: center;
  text-transform: uppercase;
  color: #364c76;
}

.cards .cards__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.cards .cards__card {
  border: 1px solid red;
}

.cards .cards__card-title {
  width: 310px;
  height: 17px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
  /* identical to box height, or 185% */
  text-align: center;
  color: #00c5de;
}

.cards .cards__card-text {
  width: 380px;
  height: 96px;
  margin: 70px auto;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  color: #414141;
}

.intro {
  width: 100%;
  margin-top: 80px;
}

.intro .intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro .intro__title {
  width: 923px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 77px;
  /* or 120% */
  text-align: center;
  color: #00c5de;
}

.intro .intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 77px;
  /* or 321% */
  text-align: center;
  color: #6a6a6a;
}

.intro .intro__btn {
  /* button */
  width: 238px;
  height: 50px;
  background: #00c5de;
  border-radius: 61px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  /* identical to box height, or 286% */
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.intro .intro__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.intro .intro__btn:active {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: black;
}

.intro .intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro .intro__img {
  width: 480px;
  height: 325px;
}

.intro .intro__img {
  position: relative;
  left: -60px;
  z-index: 100;
}

.intro .intro__img-2 {
  position: relative;
  left: -360px;
}

.intro .intro__img-3 {
  position: relative;
  right: 300px;
}

.intro .intro__img-4 {
  position: relative;
  right: 290px;
}

.intro .intro__img-5 {
  position: relative;
  right: 200px;
}

@media (max-width: 1200px) {
  .intro {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
    margin: auto;
    border: 1px solid red;
  }
  .intro .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro .intro__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px auto;
    gap: 30px;
  }
  .intro .intro__title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
  }
  .intro .intro__text {
    width: 90%;
    text-align: center;
    margin: 20px auto;
    line-height: 1.2;
    font-size: 18px;
  }
  .intro .intro__btn {
    display: block;
    margin: auto;
    margin: 20px auto;
  }
  .intro .intro__img {
    position: static;
    z-index: 0;
    width: 100%;
    height: auto;
  }
}

.navbar {
  width: 1250px;
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  background: #00000033;
  padding: 10px 0;
  z-index: 100;
  border-radius: 0 0 20px 20px;
  margin: 0 auto;
}

.navbar .navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__logo {
  /* IMAGE */
  width: 163px;
  height: 48px;
}

.navbar .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.navbar .navbar__link {
  color: #003b66;
  text-decoration: none;
  font-weight: 700px;
}

.navbar .navbar__item span {
  color: black;
  font-weight: 600;
}

.navbar .navbar__link {
  color: grey;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.navbar .navbar__link:hover {
  color: white;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.navbar .navbar__burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.navbar .navbar__burger div {
  width: 25px;
  height: 3px;
  background: #000;
  border-radius: 10px;
  border: none;
}

.navbar .navbar__btn {
  /* Rectangle */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  height: 44px;
  border: 1px solid #00c5de;
  border-radius: 61px;
  color: #00c5de;
  font-family: "Montserrat";
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar .navbar__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar .navbar__btn:active {
  background: black;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 1200px) {
  .navbar {
    width: 90%;
    margin: auto;
  }
  .navbar .navbar__list {
    display: none;
  }
  .navbar .navbar__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .navbar__btn {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */