.believe {
  width: 100%;
  margin-top: 60px;

  .believe-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 77px;
    /* identical to box height, or 214% */
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
    color: #364c76;
  }

  .believe-content {
    @include flex;
  }

  .believe-texts {
    @include flex;
    flex-direction: column;
    margin: 0 40px;
  }

  .believe-content-title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 77px;
    /* identical to box height, or 321% */
    text-align: center;
    text-transform: uppercase;
    align-self: start;
    color: #364c76;
  }

  .believe-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    color: #364c76;
  }

  .believe-img {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 1200px) {
  .believe {
    width: 90%;
    margin: auto;

    .believe-content {
      display: flex;
      flex-direction: column;
    }

    .believe-title {
      font-size: 30px;
      text-align: center;
      margin: auto;
    }

    .believe-content-title {
      line-height: 1.5;
      margin: 20px auto;
    }

    .believe-text {
      font-size: 14px;
      text-align: center;
      margin: auto;
    }

    .believe-img {
      width: 100%;
      height: 200px;
      margin: 20px auto;
    }
  }
}
