.camera {
  width: 100%;
  margin-top: 100px;
  background-color: #130c35;

  .camera-container {
    @include flex;
    flex-direction: column;
  }

  .camera-content {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    gap: 300px;
    margin: 50px;
  }

  .camera-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 77px;
    /* identical to box height, or 214% */
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
    color: #ffffff;
  }

  .camera-right-title {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 37px;
    /* identical to box height, or 142% */
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
  }

  .camera-text {
    width: 590px;
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    margin: 30px 0;
    color: grey;
  }
}
@media (max-width: 1200px) {
  .camera {
    width: 90%;
    margin: auto;
    flex-direction: column;
    border-radius: 10px;

    .camera-content {
      flex-direction: column;
    }

    .camera-title {
      margin: 0;
      width: 100%;
      font-size: 25px;
      line-height: 1.5;
    }

    .camera-text {
      width: 90%;
      margin: 20px auto;
      text-align: center;
    }

    .camera-img {
      width: 200px;
      height: 100px;
      margin: 0 auto;
    }
  }
}
