.cards {
  width: 100%;
  margin: 100px 0;

  .cards__container {
    align-items: center;
    justify-content: center;
  }

  .cards__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 77px;
    /* identical to box height, or 214% */
    text-align: center;
    text-transform: uppercase;

    color: #364c76;
  }

  .cards__cards {
    @include flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
  }

  .cards__card {
    width: 350px;
    height: 400px;
  }

  .cards__card-title {
    width: 350px;
    height: 17px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 37px;
    /* identical to box height, or 185% */
    text-align: center;
    color: #00c5de;
  }

  .cards__card-text {
    width: 350px;
    height: 96px;
    margin: 70px auto;
    font-style: normal;
    font-weight: 350;
    font-size: 12px;
    line-height: 24px;
    /* or 150% */
    text-align: center;

    color: #414141;
  }

  .cards__icon {
    width: 350px;
    height: 180px;
  }
}

@media (max-width: 1200px) {
  .cards {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .cards__card {
      width: 100%;
      margin: auto;
    }

    .cards__title {
      width: 100%;
      margin: auto;
    }

    .cards__card-title {
      width: 100%;
      margin: auto;
      text-align: center;
    }

    .cards__card-text {
      width: 90%;
      margin: 60px auto;
    }

    .cards__icon {
      width: 100%;
      margin: auto;
    }
  }
}
