$color_1: #364c76;
$color_2: #6a6a6a;
$color_3: #00c5de;
$color_4: #000000;
$color_5: #ffffff;
$color_6: #414141;
$color_7: #c8c1f1;
$color_8: transparent;
$color_9: #2b2b2b;
$color_10: #bcbcbc;
$font-family_1: "Montserrat", sans-serif;
$font-family_2: "Roboto", sans-serif;
$background-color_1: #f1f1f1;
$background-color_2: #00c5de;
$background-color_3: #00a8c4;
$background-color_4: #ffffff;
$background-color_5: #f4f7ff;
$background-color_6: rgba(255, 255, 255, 0.2);
$background-color_7: #364c7b;
$background-color_8: transparent;
$background-color_9: rgba(255, 255, 255, 0.95);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
