.questions {
  width: 100%;
  background: #130c35;
  height: 600px;
  margin-top: 80px;

  .questions-container {
    @include flex;
    flex-direction: column;
  }

  .questions-title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin: 40px 0;
    color: #ffffff;
  }

  .questions-box {
    /* Часто задаваемые вопросы */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;

    width: 1144px;
    height: 64px;

    /* Neutral 2 */
    border: 1px solid #e1e5ee;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0;
  }

  .questions-box:nth-child(2) {
    /* Часто задаваемые вопросы */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;

    width: 1144px;
    height: 200px;

    /* Neutral 2 */
    border: 1px solid #e1e5ee;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0;
  }

  .questions-text {
    /* За нами будет закреплен какой-нибудь IT специалист ? */

    width: 1116px;
    height: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
@media (max-width: 1200px) {
  .questions {
    width: 90%;
    margin: auto;
    flex-direction: column;
    border-radius: 10px;

    .questions-title {
      width: 100%;
      margin: 30px auto;
      font-size: 30px;
    }

    .questions-box {
      width: 100%;
      margin: 30px auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .questions-box:nth-child(2) {
      width: 100%;
    }

    .questions-text {
      font-size: 10px;
      width: 90%;
      margin: auto;
      text-align: center;
    }
  }
}
