.text {
  width: 100%;
  margin-top: 50px;

  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .text-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    /* or 139% */
    text-align: center;
    text-transform: uppercase;

    color: #364c76;
  }

  .text-text {
    /* Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке форм развития. С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Таким образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации форм развития. С другой стороны укрепление и развитие структуры представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! начало повседневной работы по формированию позиции требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание форм развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Товарищи! консультация с широким активом представляет собой интересный эксперимент проверки соответствующий условий активизации. Идейные соображения высшего порядка, а также новая модель организационной деятельности играет важную роль в формировании соответствующий условий активизации. Повседневная практика показывает, что укрепление и развитие структуры в значительной степени обуславливает создание модели развития. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий. */

    width: 1137px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    margin: 30px 0;
    color: #364c76;
  }
}

@media (max-width: 1200px) {
  .text {
    width: 90%;
    margin: auto;

    .text-title {
      width: 100%;
      font-size: 30px;
      margin: auto;
      text-align: center;
    }

    .text-text {
      width: 90%;
      font-size: 14px;
      text-align: center;
      margin: 20px auto;
    }
  }
}
